<div class="col-md-8 offset-md-1">
  <h2>Books</h2>
  <table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <%= link_to user_show_path(@user.id) %>
      <%= attachment_image_tag image_id, :image %>
      <td><%= link_to"#{book.title}",book_show_path %></td>
      <td><%= book.opinion %></td>
    <% end %>
  </tbody>
  </table>
</div>